<a href="https://colab.research.google.com/github/ishancoderr/Rainfall_predictor/blob/main/Landslide_predict_with_Rainfall.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.scirp.org/journal/paperinformation.aspx?paperid=81276


https://en.climate-data.org/asia/sri-lanka/uva/badulla-764256/

https://books.google.lk/books?id=L3ckDwAAQBAJ&pg=PA270&lpg=PA270&dq=rainfall+data+with+cumulative+time+in+badulla&source=bl&ots=3YCsce_9-A&sig=ACfU3U1hUHgX5JoFKeC2LIYimb4GFj_CsA&hl=en&sa=X&ved=2ahUKEwjyy9av1aHzAhVBjeYKHXS_DAkQ6AF6BAglEAM#v=onepage&q=rainfall%20data%20with%20cumulative%20time%20in%20badulla&f=false

**Importing the libraries**

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

**Importing Rainfall data**

In [3]:
dataset = pd.read_csv('/content/sample_data/Rainfall.csv')

In [7]:
dataset

    Year      Month  Day  ...  Duration (hr)  Avg_intensity (mm/hr)  occur
0   1986    January   10  ...            5.0                     39    yes
1   1986    January   10  ...            5.0                     41    yes
2   1988   December   21  ...            4.0                     41    yes
3   1992   November   16  ...            7.0                     46    yes
4   1992   November   16  ...            7.0                     44    yes
5   1993   December   16  ...            6.0                     52    yes
6   1993   December   17  ...            4.0                     45    yes
7   1993   December   26  ...            8.0                     25    yes
8   1995      April   17  ...            4.0                     53    yes
9   1995       July   24  ...            5.0                     46    yes
10  1997   November   17  ...            6.0                     43    yes
11  1997   November   19  ...            5.0                     53    yes
12  1997   November   19  ...            6.0                     48    yes
13  1997   November   19  ...            4.0                     54    yes
14  1998   November   16  ...            3.0                     50    yes
15  1998   November   17  ...            4.0                     45    yes
16  1999    October    5  ...            5.0                     29    yes
17  2002      April   23  ...            6.0                     33    yes
18  2002      April   24  ...            5.0                     41    yes
19  2004   December   21  ...            6.0                     33    yes
20  2004   December   22  ...            5.0                     36    yes
21  2004   December   23  ...            5.0                     42    yes
22  2004   December   23  ...            6.0                     53    yes
23  2006   November   22  ...            7.0                     44    yes
24  2006   December   20  ...            8.0                     42    yes
25  2006   December   20  ...            7.0                     45    yes
26  2009    January   20  ...            5.0                     40    yes
27  2009    January   20  ...            4.0                     47    yes
28  2010    January   26  ...            3.0                     53    yes
29  2011   November   23  ...            6.0                     37    yes
30  2012   December   21  ...            3.0                     53    yes
31  2014    October   29  ...            6.0                     51    yes
32  2014    October   30  ...            8.0                     25    yes
33  2014    October   30  ...            4.0                     44    yes
34  2014    October   30  ...            4.0                     37    yes
35  2014    October   30  ...            5.0                     38    yes
36  2014    October   30  ...            3.0                     36    yes
37  2014    October   30  ...            4.0                     37    yes
38  2014    October   30  ...            4.0                     34    yes
39          January   15  ...            5.5                     25     No
40  2014        May   16  ...            5.6                     25     No
41  2012   November   15  ...           11.0                     25     No
42  2012       June   20  ...            2.1                     25     No
43  2011      April   13  ...            6.0                     28     No
44  2010     August   15  ...            3.0                     24     No
45  2006    January   15  ...            5.0                     28     No
46  2006  September   12  ...            5.0                     26     No
47  2014    January   15  ...            6.0                     23     No
48  2014   February   18  ...            3.0                     32     No
49  2002   December   20  ...            9.0                     25     No
50  2000      March    9  ...            4.0                     22     No
51  2001       July   20  ...            2.0                     26     No
52  2000     August    2  ...            2.0                     37     No
53  1998       July   24  ...            1.5                     47     No

[54 rows x 7 columns]